<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include ../_partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <%- include ../_partials/nav.ejs %> <%- include ./_partials/navtabs.ejs %>
      <h3>Welcome, <%= loggedIn.firstname %>!</h3>
      <h4>Users with Most Referrals</h4>
      <% if (mostRefers.length === 0) { %>
      <p>No one has referred anyone yet :(</p>
      <% } else { %>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Number of Referrals</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < mostRefers.length; i++) { %>
          <tr>
            <td>
              <%= mostRefers[i].firstname %> <%= mostRefers[i].lastname %>
            </td>
            <td><%= mostRefers[i].count %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
