<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Task Master</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <% if (navCat === 'home') { %>active<% } %>">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item <% if (navCat === 'services') { %>active<% } %>">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <% if (loggedIn) { %>
      <li class="nav-item <% if (navCat === 'booking') { %>active<% } %>">
        <a class="nav-link" href="/booking/new">Booking</a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="navbar-nav">
    <% if (loggedIn) { %>
    <span class="navbar-text">
      Logged in as <%= loggedIn.firstname %> <%= loggedIn.lastname %>
    </span>
    <a class="nav-item nav-link" href="/logout">Log Out</a>
    <% } else { %>
    <a
      class="nav-item nav-link <% if (navCat === 'login') { %>active<%}%>"
      href="/login"
      >Log In</a
    >
    <% } %>
  </div>
</nav>
<br />
<% if (messages.info) { %> <% for (let i = 0; i < messages.info.length; i++) {
%>
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Hey!</strong> <%= messages.info[i] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% } %> <% if (messages.warning) { %> <% for (let i = 0; i <
messages.warning.length; i++) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Watch Out!</strong> <%= messages.warning[i] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% } %> <% if (messages.danger) { %> <% for (let i = 0; i <
messages.danger.length; i++) { %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Attention!</strong> <%= messages.danger[i] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% } %> <% if (messages.success) { %> <% for (let i = 0; i <
messages.success.length; i++) { %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> <%= messages.success[i] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% } %>
