<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include ../_partials/head.ejs %>
    <script src="/js/registerValidation.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include ../_partials/nav.ejs %>
      <h1>Edit Profile</h1>
      <% if (loggedIn.isadmin === true) { %>
      <form
        action="update1"
        method="post"
      >
      <% } else { %>  
      <form
        action="update1"
        method="post"
        onsubmit="return validateSubmit(event.target, true);"
      >
      <% } %>
        <div class="form-row">
          <div class="col form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              value="<%=loggedIn.firstname%>"
            />
          </div>
          <div class="col form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              value="<%=loggedIn.lastname%>"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
              value="<%=loggedIn.email%>"
              required
              disabled
            />
          </div>
          <div class="col form-group">
            <label>Account Type</label><br />
            <div class="form-check form-check-inline">
              <!-- prettier-ignore -->
              <input
                class="form-check-input"
                type="checkbox"
                id="userCheck"
                name="userCheck"
                <% if (loggedIn.isuser) { %>checked disabled<% } %> />
                <% if (loggedIn.isuser) { %>
                  <input type="hidden" name="userCheck" value="true" />
                <% } %>
              <label class="form-check-label" for="userCheck">User</label>
            </div>
            <div class="form-check form-check-inline">
              <!-- prettier-ignore -->
              <input
                class="form-check-input"
                type="checkbox"
                id="workerCheck"
                name="workerCheck"
                <% if (loggedIn.isworker) { %>checked disabled<% } %> />
              <% if (loggedIn.isworker) { %>
              <input type="hidden" name="workerCheck" value="true" />
              <% } %>
              <label class="form-check-label" for="workerCheck">Worker</label>
              <div class="invalid-feedback">
                &nbsp;&nbsp;&nbsp;&nbsp;You must select at least one account
                type!
              </div>
            </div>
            <small id="checkHelp" class="form-text text-muted">You cannot disable account types your account already belongs to</small>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="password">New Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
            />
            <div class="invalid-feedback">
              Make sure you type the same password in both fields!
            </div>
            <small id="passHelp" class="form-text text-muted">To leave your password unchanged, leave both fields blank</small>
          </div>
          <div class="col form-group">
            <label for="confirm">New Password Confirmation</label>
            <input
              type="password"
              class="form-control"
              id="confirm"
              name="confirm"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>

      <% if (loggedIn.isuser) {%>
      <form
        action="update2"
        method="post"
      >
        <hr />
        <h1>User Details</h1>
        <div class="form-row">
          <div class="col form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              name="userPhone"
              value="<%=userData[0].phone%>"
            />
          </div>
          <div class="col form-group">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              name="address"
              value="<%=userData[0].address%>"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
      <% } %>

      <form
        action="update3"
        method="post"
      >
        <% if (loggedIn.isworker) {%>
        <hr/>
        <h1>Worker Details</h1>
        <div class="form-row">
          <div class="col form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              name="workerPhone"
              value="<%=workerData[0].phone%>"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <% } %>
      </form>
    </div>
  </body>
</html>
