<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include ../_partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <%- include ../_partials/nav.ejs %>
      <h1><%= loggedIn.firstname %> <%= loggedIn.lastname %> - Summary</h1>

      <table class="table">
        <thead class="thead-dark">
          <tr>
          <th>Booking Id</th>
          <th>Service</th>
          <th>Price</th>
          <th>Time</th>
          <th>Address</th>
          <th>Worker Name</th>
          <th>Worker Contact</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < bookings.length; i++) { %>
          <tr>
          <td><%= bookings[i].bookingid %></td>
          <td><%= bookings[i].cleaningname %></td>
          <td><%= "$" + bookings[i].price %></td>
          <td><%= bookings[i].starttime + " " + "to" %><br/><%=bookings[i].endtime %></td>
          <td><%= bookings[i].address%></td>
          <td><%= bookings[i].firstname + " " + bookings[i].lastname%></td>
          <td><%= bookings[i].email %><br/><%= bookings[i].workerphone%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
